<ion-content>
  <div *ngIf="step==='HOME'">
    <ion-item class="heading" lines="full">
      <ion-label>Register New Item</ion-label>
    </ion-item>
    <ion-button expand="block" (click)="step='TESCO'">Register Tesco Product</ion-button>
    <ion-button expand="block" (click)="item={};step='PACK'">Enter Details Manually</ion-button>
    <ion-button expand="block" routerLink="../">Go Back</ion-button>
  </div>

  <div *ngIf="step==='TESCO'">
    <ion-item class="heading" lines="full">
      <ion-label>Register Tesco Item</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enter item name</ion-label>
      <ion-input #searchTescoQuery></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="searchForTescoItems(searchTescoQuery.value)"
      [disabled]="!searchTescoQuery.value">Search TESCO</ion-button>
    <ion-label color="danger" *ngIf="results && results.length===0">No results found!</ion-label>
    <ion-item lines="full" *ngFor="let searchItem of results"
      (click)="step='PACK'; item=searchItem; selectTescoItem();">
      <ion-img slot="start" class="list-image" [src]="searchItem.imageLink"></ion-img>
      <ion-label class="ion-text-wrap">
        <h2>{{searchItem.name}}</h2>
        <p>£ {{searchItem.cost}}</p>
      </ion-label>
      <ion-icon slot="end" name="caret-forward-outline"></ion-icon>
    </ion-item>
    <ion-button expand="block" (click)="ngOnInit(); step='HOME'">Go Back</ion-button>
  </div>

  <div *ngIf="step==='PACK'">
    <ion-item class="heading" lines="full">
      <ion-label>Enter Pack Details</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="item.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pack Quantity</ion-label>
      <ion-input [(ngModel)]="item.quantity" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quantity Unit</ion-label>
      <ion-input [(ngModel)]="item.quantityUnit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pack Price (£)</ion-label>
      <ion-input [(ngModel)]="item.cost" type="number"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="step='NUTRITION'" [disabled]="!item.name || !item.quantityUnit">Continue
    </ion-button>
    <ion-button expand="block" (click)="item.store?step='TESCO':step='HOME'">Go Back</ion-button>
  </div>

  <div *ngIf="step==='NUTRITION'">
    <ion-item class="heading" lines="full">
      <ion-label>Enter Pack Nutrition Details</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Calories (kcal)</ion-label>
      <ion-input [(ngModel)]="item.calories" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Carbs ({{item.quantityUnit}})</ion-label>
      <ion-input [(ngModel)]="item.carbs" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Protein ({{item.quantityUnit}})</ion-label>
      <ion-input [(ngModel)]="item.protein" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fat ({{item.quantityUnit}})</ion-label>
      <ion-input [(ngModel)]="item.fat" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fibre ({{item.quantityUnit}})</ion-label>
      <ion-input [(ngModel)]="item.fibre" type="number"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="step='IMAGE'">Continue</ion-button>
    <ion-button expand="block" (click)="step='PACK'">Go Back</ion-button>
  </div>

  <div *ngIf="step==='IMAGE'">
    <ion-item class="heading" lines="full">
      <ion-label>Item Image</ion-label>
    </ion-item>
    <ion-input placeholder="Enter image link..." [(ngModel)]="item.imageLink"></ion-input>
    <ion-img class="preview" [src]="item.imageLink" alt=""></ion-img>
    <ion-button expand="block" (click)="step='REVIEW'" [disabled]="!item.imageLink">Review</ion-button>
    <ion-button expand="block" (click)="step='RECIPE'">Go Back</ion-button>
  </div>

  <div *ngIf="step==='REVIEW'">
    <ion-item class="heading" lines="full">
      <ion-label>Review Details</ion-label>
    </ion-item>
    <ion-img class="preview" [src]="item.imageLink"></ion-img>
    <p><strong>Name : </strong>{{item.name}}</p>
    <p><strong>Pack : </strong>{{item.quantity}} {{item.quantityUnit}}</p>
    <p><strong>Price : </strong>£ {{item.cost}}</p>
    <p><strong>Calories : </strong>{{item.calories}} kcal</p>
    <p><strong>Carbs : </strong>{{item.carbs}} {{item.quantityUnit}}</p>
    <p><strong>Protein : </strong>{{item.protein}} {{item.quantityUnit}}</p>
    <p><strong>Fat : </strong>{{item.fibre}} {{item.quantityUnit}}</p>
    <p><strong>Fibre : </strong>{{item.fibre}} {{item.quantityUnit}}</p>
    <ion-button expand="block" (click)="registerItem(); step='FIN';">Register</ion-button>
    <ion-button expand="block" (click)="step='PACK'">Make corrections</ion-button>
  </div>

  <div *ngIf="step==='FIN'">
    <ion-header>Item registered successfully.</ion-header>
    <ion-button expand="block" (click)="ngOnInit()">Register Another Item</ion-button>
    <ion-button expand="block" routerLink="/meals">Create Meal</ion-button>
    <ion-button expand="block" routerLink="../">Close</ion-button>
  </div>

</ion-content>