:root {
  --ion-color-main-background: #ecf9ec;

  --ion-color-main-dark: #2a892a;
  --ion-color-main-dark-contrast: #d8f3d8;

  --ion-color-main-light: #b1e7b1;
  --ion-color-main-light-contrast: #123b12;
}
