<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button [ngClass]="{'selected':activeTab===1}" routerLink="/items" (click)="activeTab=1">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Groceries</ion-label>
    </ion-tab-button>

    <ion-tab-button [ngClass]="{'selected':activeTab===2}" routerLink="/meals" (click)="activeTab=2">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Meals</ion-label>
    </ion-tab-button>

    <ion-tab-button [ngClass]="{'selected':activeTab===3}" routerLink="/logs" (click)="activeTab=3">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>

    <ion-tab-button [ngClass]="{'selected':activeTab===4}" routerLink="/profile" (click)="activeTab=4">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button [ngClass]="{'selected':activeTab===5}" routerLink="/settings" (click)="activeTab=5">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>